body {
	font-family: arial;
	font-size: medium;
		}

h1#header {
		border-bottom: 1px solid black;
		text-align: center;
		}
		
.inline-block {
		zoom: 1;
		*display: inline;
	}
	
.twenty-five-perc {
	width: 22%;
	}

.marg{
		margin-right: 5%;
}

#web{
	border-style: inset;
	background-color: orange;
}

#java{
	border-style: inset;
	background-color: darkred;
	}

#java a:link, #java a:visited{
	color: white;
	}

.center{
	text-align: center;
}

.inline{
	display: inline;
	}

form label {
  display: inline-block;
  width: 225px;
  font-weight: bold;
}


		