body {
	font-family: arial;
	font-size: small;
		}

h1 {
		border-bottom: 1px solid black;
		text-align: center;
		}
		
.inline-block {
		zoom: 1;
		*display: inline;
	}
	
.twenty-five-perc {
	width: 10%;
	}

.broncos{
		margin-left: 0%;
		background-color: #fc4c02;
		border-style: inset;
		}
		
.broncos a:visited, .broncos a:link, p.denver{
		color: navy;
		}
		
.chargers{
		background-color: rgb(12, 35, 64);
		border-style: inset;
		}
		
.chargers a:visited, .chargers a:link, p.la{
		color: #ffb81c;
		}
		
.chiefs{
		background-color: #c81023;
		border-style: inset;
		}

.chiefs a:visited, .chiefs a:link, p.kc{
		color: #ffb81c;
	}

.raiders{
		background-color: #101820;
		border-style: inset;
	}

.raiders a:visited, .raiders a:link, p.oakland{
		color: #a5acaf;
	}
	
.cardinals{
		background-color: #9b2743;
		border-style: inset;
		}

.cardinals a:visited, .cardinals a:link, p.arizona{
		color: #ffcd00;
		}

.rams{
		background-color: #041e42;
		border-style: inset;
		}
		
.rams a:visited, .rams a:link, p.laRams{
		color: #866d4b;
		}
		
.niners{
		background-color: #9b2743;
		border-style: inset;
		}
		
.niners a:visited, .niners a:link, p.sf{
		color: white;
		}	
		
.seahawks{
		background-color: #001433;
		border-style: inset;
		}
		
.seahawks a:visited, .seahawks a:link, p.seattle{
		color: #4dff00;
		}				
				
p.denver, p.la, p.kc, p.oakland, p.arizona, p.laRams, p.sf, p.seattle{
		font-size: 125%;
		text-align: center;
	}

.marg{
		margin-right: 5%;
}

.head{
		font-size: 1.75em;
		padding-left: 17%;
		font-weight: bold;
}

.head2{
		font-size: 1.75em;
		padding-left: 40%;
		font-weight: bold;
}

		